body {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

h1, h2, h3, caption, th, td, p, i {
    color: #efefef !important;
}

caption, h1 {
    text-shadow: 2px 2px 2px rgba(206,89,55,0) !important;
}